body {
  text-align: center;
  font-family: "Arial";
}

#container {
  max-width: 70%;
  border: 1px solid #cecece;
  margin: 0 auto;
  padding: 10;
}

#cabecera {
  text-align: start;
  background-color: teal;
  padding: 5px;
  color: aliceblue;
}

.subtitulo {
  font-size: 18px;
}